{% extends 'geo/base.html' %}
{% load i18n %}
{% load uni_form_tags %}
{% load theme_tags %}
{% load flag_tags %}
{% load modeltranslation_ext_tags %}

{% block head_title %}{% blocktrans %}Locations{% endblocktrans %}{% endblock %}

{% block extra_head %}
    <script src="{{ STATIC_URL }}admin/js/urlify.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <div class="breadcrumb">
    {% if object %}
        {% for item in object.get_ancestors %}
            <a href="{% url geo_location_detail pk=item.id %}">{{ item }}</a> »
        {% endfor %}
        {{ object }}
    {% endif %}
    </div>

    <h1>{{ object }} ({{ opts.verbose_name }})</h1>
    {% if user.is_authenticated %}
    <div class="form-toggle">
        <p><span id="flag-toggle">{% silk "flag_red" %}{% trans "Flag as incorrect" %}</span></p>
        <div id="flag-form" style="display: none;">
            {% flag object "creator" %}
        </div>
    </div>
    {% endif %}


    {% if children %}
    <h2>{% blocktrans with type_name_plural=child_opts.verbose_name_plural %}Subitems ({{ type_name_plural }}){% endblocktrans %}</h2>
    <div>
        <ul>
        {% for item in children %}
            <li>
                {% if item.pk == new_object.pk %}
                    <b style="font-size: 1.6em;"><a href="{% url geo_location_detail pk=item.id %}">{{ item }}</a> ({% trans "just created!" %})</b>
                {% else %}
                    <a href="{% url geo_location_detail pk=item.id %}">{{ item }}</a>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if form %}
    <div>
        <h2>{% blocktrans with type_name=child_opts.verbose_name %}Add new child location ({{ type_name }}){% endblocktrans %}</h2>
        
        <form class="uniForm" method="POST" action="">
            {% csrf_token %}
            <fieldset class="inlineLabels">
                {{ form.media }}
                {{ form|as_uni_form }}
                <div class="form_block">
                    <input type="hidden" name="next" value="{{ request.path }}" />
                    <input type="submit" value="{% trans "Add new location" %}" /></td>
                </div>
            </fieldset>
        </form>
    </div>
    {% endif %}

{% endblock %}

{% block extra_body %}
    <script type="text/javascript">

        $(function(){
            $('#id_{{ "name"|localize_fieldname }}').change(function(e){
                if (!$('#id_name_ascii').val()) {
                    $('#id_name_ascii').val(downcode($('#id_{{ "name"|localize_fieldname }}').val()));
                }
            });
        });

        $(document).ready(function() {
            $('#flag-form').hide();
            $('#flag-toggle').click(function() {
                $('#flag-form').slideToggle();
                $('#flag-form').autoscroll();
                return false;
            });
            if ($('#flag-form ul.errorlist').length) {
                $('#flag-form').show();
                $('#flag-form ul.errorlist').autoscroll();
            }
            
        });
    </script>
{% endblock %}
